<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Otp</title>
</head>
<body>
    <h3 style="color: green;" th:text="${success}"></h3>
    <h3 style="color: red;" th:text="${failure}"></h3>
    <form action="/verify-otp" method="post">
        <input type="hidden" name="id" th:value="${id}">
        Enter Otp : <input type="number" name="otp" id="otp">
        <button>Submit</button>
    </form>
</body>
</html>