<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div align="center">
      <h3 style="color: green;" th:text="${success}"></h3>
      <table border="1">
        <tr>
          <th>Name</th>
          <th>Picture</th>
          <th>Mobile</th>
          <th>Date of Birth</th>
          <th>Standard</th>
          <th>Subject1</th>
          <th>Subject2</th>
          <th>Subject3</th>
          <th>Subject4</th>
          <th>Subject5</th>
          <th>Subject6</th>
          <th>Percenatge</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr th:each="s:${list}">
          <td th:text="${s.name}"></td>
          <td>
            <img th:src="${s.picture}" alt="alt" height="100px" width="100px" />
          </td>
          <td th:text="${s.mobile}"></td>
          <td th:text="${s.dob}"></td>
          <td th:text="${s.standard}"></td>
          <td th:text="${s.subject1}"></td>
          <td th:text="${s.subject2}"></td>
          <td th:text="${s.subject3}"></td>
          <td th:text="${s.subject4}"></td>
          <td th:text="${s.subject5}"></td>
          <td th:text="${s.subject6}"></td>
          <td th:text="${s.percentage}"></td>
          <td><a th:href="'/edit/'+${s.id}"><button>Edit</button></a></td>
          <td>
            <a th:href="'/delete/'+${s.id}"><button>Delete</button></a>
          </td>
        </tr>
      </table>
      <br /><br /><br />
      <a href="/"><button>Back</button></a>
    </div>

  </body>
</html>
