<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h3 style="color: green" th:text="${success}"></h3>
<div th:if="${session.user==null}">
    <a href="/signup"><button>Signup</button></a>
    <a href="/login"><button>Login</button></a>
</div>

<div th:if="${session.user}">
  <a href="/insert"><button>Insert Student Record</button></a>
  <a href="/fetch"><button>Fetch Student Record</button></a>
  <a href="/delete"><button>Delete Student Record</button></a>
  <a href="/update"><button>Update Student Record</button></a>
  <a href="/logout"><button>Logout</button></a>
</div>  
  </body>
</html>
