<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insert</title>
  </head>
  <body>
    <form action="/insert" method="post" enctype="multipart/form-data">
      Name: <input type="text" name="name" placeholder="Enter Name" /> Standard:
      <input type="text" name="standard" placeholder="Enter Standard" /> Date of
      Birth:
      <input type="date" name="dob" placeholder="Enter Date of Birth" /> Mobile
      Number:
      <input type="text" name="mobile" placeholder="Enter Mobile Number" />
      Marks: Subject 1:
      <input
        type="number"
        name="subject1"
        placeholder="Enter Subject 1 Marks"
      />
      Subject 2:
      <input
        type="number"
        name="subject2"
        placeholder="Enter Subject 2 Marks"
      />
      Subject 3:
      <input
        type="number"
        name="subject3"
        placeholder="Enter Subject 3 Marks"
      />
      Subject 4:
      <input
        type="number"
        name="subject4"
        placeholder="Enter Subject 4 Marks"
      />
      Subject 5:
      <input
        type="number"
        name="subject5"
        placeholder="Enter Subject 5 Marks"
      />
      Subject 6:
      <input
        type="number"
        name="subject6"
        placeholder="Enter Subject 6 Marks"
      />

      Picture : <input type="file" name="image" />

      <button>Add</button>
    </form>
  </body>
</html>
